# Environment variables
*.env
!.env.example

# Dependencies
node_modules/

# Build output
dist/
build/

# Prisma
prisma/migrations/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
